<div class="login-body">
    <div class="login-image"></div>
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-3" style="text-align:left;">
                    <img src="assets/layout/images/login/icon-login.svg" alt="avalon-ng"/>
                </div>
                <div class="p-col-9" style="text-align:left;">
                    <h2 class="welcome-text">Welcome Guest</h2>
                    <span class="guest-sign-in">Sign in to Avalon Network</span>
                </div>
                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label">Username</label>
                    <div class="login-input">
                        <input type="text" placeholder="Username" pInputText/>
                    </div>
                </div>
                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label">Password</label>
                    <div class="login-input">
                        <input type="password" placeholder="Password" pPassword/>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 button-pane">
                    <button pButton type="button" [routerLink]="['/']" label="Sign In"></button>
                </div>
                <div class="p-col-12 p-md-6 link-pane">
                    <button class="p-link">Forget Password?</button>
                </div>
            </div>
        </div>
    </div>
</div>
