<div class="ui-g">
    <div class="ui-g-12">
        <div class="help-wrapper">
            <div class=" card help-header">
                <div class="ui-g header-title">
                    <div class="ui-g-2 icon">
                        <i class="fa fa-life-ring"></i>
                    </div>
                    <div class="ui-g-9">
                        <h1>Frequently Asked Questions</h1>
                        <span>Advice and answers from Avalon Team</span>
                    </div>
                </div>
            </div>


            <div class="ui-g help-content">
                <div class="ui-g-12 ui-lg-6">
                    <div class="ui-g-12 card accordion-card">
                        <div class="ui-g card-header">
                            <div class="ui-g-7 title">
                                <div class="ui-g-2 icon">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                                <div class="ui-g-9">
                                    <h1>The Basics</h1>
                                    <span>3 articles in tihis collection</span>
                                </div>

                            </div>
                            <div class="ui-g-5 feedback-buttons">
                                <button class="not-helpful">👎 Not Helpful</button>
                                <button class="helpful">👍 Helpful</button>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="questions">
                                <p-accordion styleClass="sub-accordion">
                                    <p-accordionTab header="Which do I need to develop a SaaS application?" [selected]="true">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque ligula dolor, pretium tincidunt libero sodales in. Integer at eros posuere, elementum felis a, laoreet libero. In sed nunc accumsan, dapibus nibh sit amet, aliquet ipsum.
                                    </p-accordionTab>
                                    <p-accordionTab header="I’m a freelancer/agency. Can I use the item for an end product I’m doing for a client?">
                                        Aliquam erat volutpat. Nulla hendrerit, arcu non lobortis fringilla, ipsum orci condimentum risus, ac hendrerit mauris justo eget lectus.
                                    </p-accordionTab>
                                    <p-accordionTab header="We’re a reseller, are we able to purchase a license on behalf of our client? ">
                                        Ut leo tellus, imperdiet tristique turpis eu, eleifend rhoncus dolor. Fusce eu feugiat urna. Nullam venenatis nisi varius justo ultrices, non aliquam nisi dapibus. Duis viverra nulla ipsum, ac laoreet mauris dapibus eu.
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 card accordion-card ">
                        <div class="ui-g card-header">
                            <div class="ui-g-7 title">
                                <div class="ui-g-2 icon">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                                <div class="ui-g-9">
                                    <h1>Frequently Asked Questions</h1>
                                    <span>6 articles in tihis collection</span>
                                </div>
                            </div>
                            <div class="ui-g-5 feedback-buttons">
                                <button class="not-helpful">👎 Not Helpful</button>
                                <button class="helpful">👍 Helpful</button>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="questions">
                                <p-accordion styleClass="sub-accordion">
                                    <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur adipiscing elit ?" [selected]="true">
                                        Vivamus in tortor arcu. Morbi ornare ex mi, sit amet pretium nibh sollicitudin eu.
                                    </p-accordionTab>
                                    <p-accordionTab header="Sed ut massa accumsan, consequat ligula sit amet, dignissim diam ?">
                                        Curabitur elit enim, scelerisque at eros ac, sagittis volutpat ante. Mauris ac accumsan lorem, in viverra turpis.
                                    </p-accordionTab>
                                    <p-accordionTab header=" Vivamus lobortis lacinia eros vel viverra. Vestibulum molestie tortor metus, ac dapibus massa sodales eget ?">
                                        Donec ut justo sit amet erat eleifend vulputate ut at mi.
                                    </p-accordionTab>
                                    <p-accordionTab header="Donec finibus tristique leo, consectetur tincidunt velit ?">
                                        Maecenas mattis malesuada lobortis. Praesent hendrerit eros quam. Praesent volutpat mauris ut dignissim maximus.
                                    </p-accordionTab>
                                    <p-accordionTab header="Praesent suscipit, magna at lacinia tempor ?">
                                        Velit leo commodo magna, at pharetra risus libero vitae urna.
                                    </p-accordionTab>
                                    <p-accordionTab header="Nulla auctor urna eget purus placerat maximus ?">
                                        Et malesuada fames ac ante ipsum primis in faucibus.
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-6">
                    <div class="ui-g-12 card api-card">
                        <div class="ui-g card-header">
                            <div class="ui-g-6 title">
                                <h2>Avalon Web Application / API</h2>
                            </div>
                            <div class="ui-g-6  status">
                                <p>Operational</p>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="progress-bars">
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar fail"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="days ui-g-6">
                                30 Days Ago
                            </div>
                            <div class="today ui-g-6">
                                Today
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 card blog-card ">
                        <div class="ui-g card-header">
                            <div class="ui-g-12 title">
                                <div class="ui-g-2 icon">
                                    <i class="fa fa-th-large"></i>
                                </div>
                                <div class="ui-g-10">
                                    <h1>Blog posts</h1>
                                    <span>4 posts in tihis collection</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="blog-post">
                                <div class="blog-text">
                                    <h1>Lorem ipsum dolor sit amet?</h1>
                                    <span>Subtitle of lorem ipsum</span>
                                </div>
                                <div class="blog-profile">
                                    <img src="assets/layout/images/extensions/avatar-rachel.jpg" alt="avalon-layout" />
                                </div>
                            </div>

                            <div class="blog-post">
                                <div class="blog-text">
                                    <h1>Lorem ipsum dolor sit amet?</h1>
                                    <span>Subtitle of lorem ipsum</span>
                                </div>
                                <div class="blog-profile">
                                    <img src="assets/layout/images/extensions/avatar-melissa.jpg" alt="avalon-layout" />
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="blog-text">
                                    <h1>Lorem ipsum dolor sit amet?</h1>
                                    <span>Subtitle of lorem ipsum</span>
                                </div>
                                <div class="blog-profile">
                                    <img src="assets/layout/images/extensions/avatar-mike.jpg" alt="avalon-layout" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
