<body class="wizard-body">
<div class="wizard-wrapper">
    <div class="wizard-container">
        <div class="wizard-header">
            <div class="wizard-tabs-container">
                <div class="wizard-tab register-tab" [ngClass]="{'active-tab': activeTab !== null}" (click)="clickNext('register')">
                    <div class="tab-progressbar"></div>
                    <div class="tab-header"></div>
                </div>
                <div class="wizard-tab tier-tab" [ngClass]="{'active-tab': activeTab === 'tier' || activeTab === 'payment'}" (click)="clickNext('tier')">
                    <div class="tab-progressbar"></div>
                    <div class="tab-header"></div>
                </div>
                <div class="wizard-tab payment-tab" [ngClass]="{'active-tab': activeTab === 'payment'}" (click)="clickNext('payment')">
                    <div class="tab-progressbar"></div>
                    <div class="tab-header"></div>
                </div>
            </div>
        </div>

        <div class="wizard-content register" [ngClass]="{'active-content': activeContent === 'register'}">
            <div class="content-header">
                <div class="p-grid">
                    <div class="p-col-6 title">
                        <h1>REGISTER</h1>
                        <span>Please complete steps to register</span>
                    </div>
                    <div class="p-col-6 icon">
                        <img src="assets/layout/images/extensions/icon-register.svg" class="layout-image" alt="avalon-layout" />
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="p-grid forms">
                    <div class="p-col-12 p-md-6">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Name" class="form-element"  pInputText/>

                        <label for="email">Email</label>
                        <input id="email" type="text" placeholder="Email" class="form-element"  pInputText/>

                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password" class="form-element"  pInputText/>
                    </div>

                    <div class="p-col-12 p-md-6">
                        <label for="timezone">Timezone</label>
                        <p-dropdown id="timezone" [options]="dropdownOptions1" [(ngModel)]="selectDropdownOptions1" styleClass="form-element"></p-dropdown>

                        <label for="popup">Birthdate</label>
                        <p-calendar id="popup" [(ngModel)]="birthdate" styleClass="form-element" placeholder="Birthdate"></p-calendar>

                        <label for="avalon">Where did you hear Avalon</label>
                        <p-dropdown id="avalon" [options]="dropdownOptions2" [(ngModel)]="selectDropdownOptions2" styleClass="form-element"></p-dropdown>
                    </div>
                </div>
                <div class="p-grid button">
                    <button pButton class="continue-button" type="button" label="CONTINUE" style="width: 100%" (click)="clickNext('tier')"></button>
                </div>
            </div>
        </div>


        <div class="wizard-content tier" [ngClass]="{'active-content': activeContent === 'tier'}">
            <div class="content-header">
                <div class="p-grid">
                    <div class="p-col-6 title">
                        <h1>CHOOSE TIER</h1>
                        <span>Now choose your account type</span>
                    </div>
                    <div class="p-col-6 icon">
                        <img src="assets/layout/images/extensions/icon-tier@2x.png" class="layout-image" alt="avalon-layout" />
                    </div>
                </div>
            </div>


            <div class="content">
                <div class="p-grid cards">
                    <div class="p-col-12 p-md-4">
                        <div class="tier-card basic" [ngClass]="{'active-tier-card': activeCard === 'basic'}" (click)="selectTier('basic')">
                            <div class="tier-card-header">
                                <div class="p-col-8">
                                    <h1>BEGINNER</h1>
                                    <span>For starters and side projects</span>
                                </div>
                                <div class="p-col-4 icon">
                                    <i class="pi pi-check" ></i>
                                </div>
                            </div>
                            <div class="tier-card-content">
                                <div class="row even">
                                    Responsive
                                </div>
                                <div class="row">
                                    Push Mesaages
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-4 ">
                        <div class="tier-card pro" [ngClass]="{'active-tier-card': activeCard === 'pro'}" (click)="selectTier('pro')">
                            <div class="tier-card-header">
                                <div class="p-col-8">
                                    <h1>PROFFESIONAL</h1>
                                    <span>For companies</span>
                                </div>
                                <div class="p-col-4 icon">
                                    <i class="pi pi-check" ></i>
                                </div>
                            </div>
                            <div class="tier-card-content">
                                <div class="row even">
                                    Responsive
                                </div>
                                <div class="row">
                                    Push Mesaages
                                </div>
                                <div class="row even">
                                    7/24 Support
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-4">
                        <div class="tier-card pro-plus" [ngClass]="{'active-tier-card': activeCard === 'pro-plus'}" (click)="selectTier('pro-plus')">
                            <div class="tier-card-header">
                                <div class="p-col-8">
                                    <h1>ENTERPRISE</h1>
                                    <span>For custom needs</span>
                                </div>
                                <div class="p-col-4 icon">
                                    <i class="pi pi-check" ></i>
                                </div>
                            </div>
                            <div class="tier-card-content">
                                <div class="row even">
                                    Responsive
                                </div>
                                <div class="row">
                                    Push Mesaages
                                </div>
                                <div class="row even">
                                    7/24 High Priority Support
                                </div>
                                <div class="row">
                                    Free Shipping
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-grid button">
                    <button pButton class="continue-button" type="button" label="CONTINUE" style="width: 100%" (click)="clickNext('payment')"></button>
                </div>
            </div>
        </div>


        <div class="wizard-content payment" [ngClass]="{'active-content': activeContent === 'payment'}">
            <div class="p-grid">
                <div class="p-col-12 p-md-8 payment-info">
                    <div class="content-header">
                        <div class="p-grid">
                            <div class="p-col-12 title">
                                <h1>PAYMENT</h1>
                                <span>Give me the money</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="p-grid forms">
                            <div class="p-col-12">
                                <label for="cardName">Cardholder Name</label>
                                <input id="cardName" type="text" placeholder="Cardholder Name" class="form-element"  pInputText/>
                            </div>

                            <div class="p-col-12 p-md-6">
                                <label for="cardNumber">Card Number</label>
                                <input id="cardNumber" type="text" placeholder="Card Number" class="form-element"  pInputText/>
                            </div>

                            <div class="p-col-6 p-md-3">
                                <label for="cardDate">Date</label>
                                <input id="cardDate" type="text" placeholder="MO/YE" class="form-element"  pInputText/>
                            </div>

                            <div class="p-col-6 p-md-3">
                                <label for="ccv">CCV</label>
                                <input id="ccv" type="text" placeholder="XYZ" class="form-element"  pInputText/>
                            </div>
                        </div>

                        <div class="p-grid checkbox">
                            <p-checkbox [(ngModel)]="checked" binary="true" label="Save credit card information for future usage"></p-checkbox>
                        </div>
                        <div class="p-grid button">
                            <button pButton type="button" label="CONTINUE" style="width: 100%"></button>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-4 order-info">
                    <div class="order order-default">
                        <div class="summary">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <h1>ORDER SUMMARY</h1>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">Tier - </div>
                                <div class="p-col-4 price">$0.00</div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">VAT (%18)</div>
                                <div class="p-col-4 price">$0.00</div>
                            </div>
                        </div>
                        <div class="p-grid total">
                            <div class="p-col-8">Total</div>
                            <div class="p-col-4 price">$0.00</div>
                            <div class="p-col-12">
                                Please select one tier.
                            </div>
                        </div>
                    </div>
                    <div class="order order-basic" [ngClass]="{'selected-order': activeCard === 'basic'}">
                        <div class="summary">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <h1>ORDER SUMMARY</h1>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">Tier - Basic</div>
                                <div class="p-col-4 price">$5.00</div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">VAT (%18)</div>
                                <div class="p-col-4 price">$0.90</div>
                            </div>

                        </div>
                        <div class="p-grid total">
                            <div class="p-col-8">Total</div>
                            <div class="p-col-4 price">$5.90</div>
                        </div>
                    </div>
                    <div class="order order-pro" [ngClass]="{'selected-order': activeCard === 'pro'}">
                        <div class="summary">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <h1>ORDER SUMMARY</h1>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">Tier - Pro</div>
                                <div class="p-col-4 price">$25.00</div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">VAT (%18)</div>
                                <div class="p-col-4 price">$4.50</div>
                            </div>
                        </div>
                        <div class="p-grid total">
                            <div class="p-col-8">Total</div>
                            <div class="p-col-4 price">$29.50</div>
                        </div>
                    </div>
                    <div class="order order-pro-plus" [ngClass]="{'selected-order': activeCard === 'pro-plus'}">
                        <div class="summary">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <h1>ORDER SUMMARY</h1>
                                </div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">Tier - Pro+</div>
                                <div class="p-col-4 price">$50.00</div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-8">VAT (%18)</div>
                                <div class="p-col-4 price">$9.00</div>
                            </div>
                        </div>
                        <div class="p-grid total">
                            <div class="p-col-8">Total</div>
                            <div class="p-col-4 price">$59.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
