/* Add your variable customizations of layout here */

//Typography
/*
    fw: font weight
    fs: font size
    lh: line height
    ls: letter spacing
*/

$fw-h1: 500;
$fs-h1: 3.563rem;
$lh-h1: 4.375rem;

$fw-h2: 500;
$fs-h2: 3rem;
$lh-h2: 3.625rem;

$fw-h3: 500;
$fs-h3: 2.5rem;
$lh-h3: 3.125rem;

$fw-h4: 500;
$fs-h4: 2.063rem;
$lh-h4: 2.5rem;


$fw-h5: 500;
$fs-h5: 2.5rem;
$lh-h5: 2.938rem;

$fw-h6: 600;
$fs-h6: 1.438rem;
$lh-h6: 1.813rem;
$ls-h6: 0.013rem;

$fw-t1: 600;
$fs-t1: 1.188rem;
$lh-t1: 1.5rem;
$ls-t1: 0.044rem;

$fw-t2: 600;
$fs-t2: 1rem;
$lh-t2: 1.25rem;
$ls-t2: 0.056rem;

$fw-subt1: 600;
$fs-subt1: 0.875rem;
$lh-subt1: 1.125rem;
$ls-subt1: 0.038rem;

$fw-subt2: 600;
$fs-subt2: 0.75rem;
$lh-subt2: 0.938rem;
$ls-subt2: 0.069rem;

$fw-body1: 400;
$fs-body1: 0.875rem;
$lh-body1: 1.125rem;
$ls-body1: 0.038rem;

$fw-body2: 400;
$fs-body2: 0.75rem;
$lh-body2: 1rem;
$ls-body2: 0.069rem;

$fw-mono1: 400;
$fs-mono1: 0.875rem;
$lh-mono1: 1.125rem;
$ls-mono1: 0.0063rem;

$fw-mono2: 400;
$fs-mono2: 0.75rem;
$lh-mono2: 1rem;
$ls-mono2: 0.075rem;

$fw-label1: 600;
$fs-label1: 0.875rem;
$lh-label1: 1.125rem;
$ls-label1: 0.05rem;

$fw-label2: 600;
$fs-label2: 0.75rem;
$lh-label2: 1rem;
$ls-label2: 0.075rem;

$fw-caption: 600;
$fs-caption: 0.625rem;
$lh-caption: 0.87rem;
$ls-caption: 0.125rem;



//Button
$btn-height-lg: 3rem;
$btn-height-md: 2rem;
$btn-height-sm: 1.5rem;

$btn-border-rad-lg: 0.25rem;
$btn-border-rad-md: 0.25rem;
$btn-border-rad-sm: 0.125rem;

$btn-border-size-3: 0.188rem;
$btn-border-size-2: 0.125rem;
$btn-border-size-1: 0.1rem;