/* Add your variable customizations of theme here */
@use 'sass:math';

//Custom shades
$shade1: 0px 2px 4px rgba(1, 16, 8, 0.06), 0px 2px 16px rgba(1, 16, 8, 0.04), 0px 8px 24px rgba(1, 16, 8, 0.02);
$shade1-90: 2px 0px 4px rgba(1, 16, 8, 0.06), 4px 0px 16px rgba(1, 16, 8, 0.04), 8px 0px 24px rgba(1, 16, 8, 0.02);
$shade2: 0px 4px 8px rgba(1, 16, 8, 0.05), 0px 4px 24px rgba(1, 16, 8, 0.04), 0px 16px 32px rgba(1, 16, 8, 0.03);

//Glows
$glow1: 0px 0px 4px rgba(85, 212, 97, 0.2), 0px 0px 16px rgba(85, 212, 97, 0.1), 0px 0px 24px rgba(85, 212, 97, 0.02);
$glow2: 0px 0px 8px rgba(85, 212, 97, 0.22), 0px 0px 24px rgba(85, 212, 97, 0.14), 0px 0px 32px rgba(85, 212, 97, 0.08);

//Color system
$color-primary-1: rgba(16, 212, 35, 0.05);
$color-primary-2: rgba(16, 212, 35, 0.12);
$color-primary-3: rgba(16, 212, 35, 0.45);
$color-primary-4: rgba(16, 212, 35, 0.65);
$color-primary-5: rgba(16, 212, 35, 1);
$color-primary-6: rgba(13, 171, 28, 1);
$color-primary-7: rgba(10, 130, 21, 1);
$color-primary-8: rgba(8, 99, 16, 1);
$color-primary-9: rgba(0, 72, 7, 1);

$color-primary-D1: rgba(248, 250, 248, 1);
$color-primary-D2: rgba(202, 227, 209, 1);
$color-primary-D3: rgba(93, 147, 114, 1);
$color-primary-D4: rgba(49, 104, 72, 1);
$color-primary-D5: rgba(11, 79, 28, 1);
$color-primary-D6: rgba(13, 41, 16, 1);

$color-neutral-D1: rgba(0, 0, 0, 0.05);
$color-neutral-D2: rgba(0, 0, 0, 0.125);
$color-neutral-D3: rgba(0, 0, 0, 0.35);
$color-neutral-D4: rgba(0, 0, 0, 0.5);
$color-neutral-D5: rgba(0, 0, 0, 0.75);
$color-neutral-D6: rgba(18, 18, 18, 1);

$color-neutral-L1: rgba(255, 255, 255, 0.05);
$color-neutral-L2: rgba(255, 255, 255, 0.25);
$color-neutral-L3: rgba(255, 255, 255, 0.35);
$color-neutral-L4: rgba(255, 255, 255, 0.5);
$color-neutral-L5: rgba(255, 255, 255, 0.7);
$color-neutral-L6: rgba(255, 255, 255, 1);

$color-neutral-M1: rgba(78, 93, 85, 0.03);
$color-neutral-M2: rgba(78, 93, 85, 0.1);
$color-neutral-M3: rgba(78, 93, 85, 0.25);
$color-neutral-M4: rgba(78, 93, 85, 0.4);
$color-neutral-M5: rgba(78, 93, 85, 0.75);
$color-neutral-M6: rgba(78, 94, 85, 1);

$color-background-D1: rgba(2, 38, 20, 1);
$color-background-D2: rgba(1, 26, 13, 1);
$color-background-D3: rgba(1, 16, 8, 1);

$color-background-L1: rgba(235, 250, 235, 1);
$color-background-L2: rgba(243, 252, 243, 1);
$color-background-L3: rgba(235, 250, 235, 1);

//Typography
/*
    fw: font weight
    fs: font size
    lh: line height
    ls: letter spacing
*/
$fw-h1: 500;
$fs-h1: 3.563rem;
$lh-h1: 4.375rem;

$fw-h2: 500;
$fs-h2: 3rem;
$lh-h2: 3.625rem;

$fw-h3: 500;
$fs-h3: 2.5rem;
$lh-h3: 3.125rem;

$fw-h4: 500;
$fs-h4: 2.063rem;
$lh-h4: 2.5rem;


$fw-h5: 500;
$fs-h5: 2.5rem;
$lh-h5: 2.938rem;

$fw-h6: 600;
$fs-h6: 1.438rem;
$lh-h6: 1.813rem;
$ls-h6: 0.013rem;

$fw-t1: 600;
$fs-t1: 1.188rem;
$lh-t1: 1.5rem;
$ls-t1: 0.044rem;

$fw-t2: 600;
$fs-t2: 1rem;
$lh-t2: 1.25rem;
$ls-t2: 0.056rem;

$fw-subt1: 600;
$fs-subt1: 0.875rem;
$lh-subt1: 1.125rem;
$ls-subt1: 0.038rem;

$fw-subt2: 600;
$fs-subt2: 0.75rem;
$lh-subt2: 0.938rem;
$ls-subt2: 0.069rem;

$fw-body1: 400;
$fs-body1: 0.875rem;
$lh-body1: 1.125rem;
$ls-body1: 0.038rem;

$fw-body2: 400;
$fs-body2: 0.75rem;
$lh-body2: 1rem;
$ls-body2: 0.069rem;

$fw-mono1: 400;
$fs-mono1: 0.875rem;
$lh-mono1: 1.125rem;
$ls-mono1: 0.0063rem;

$fw-mono2: 400;
$fs-mono2: 0.75rem;
$lh-mono2: 1rem;
$ls-mono2: 0.075rem;

$fw-label1: 600;
$fs-label1: 0.875rem;
$lh-label1: 1.125rem;
$ls-label1: 0.05rem;

$fw-label2: 600;
$fs-label2: 0.75rem;
$lh-label2: 1rem;
$ls-label2: 0.075rem;

$fw-caption: 600;
$fs-caption: 0.625rem;
$lh-caption: 0.87rem;
$ls-caption: 0.125rem;



//Button
$btn-height-lg: 3rem;
$btn-height-md: 2rem;
$btn-height-sm: 1.5rem;

$btn-border-rad-lg: 0.25rem;
$btn-border-rad-md: 0.25rem;
$btn-border-rad-sm: 0.125rem;

$btn-border-size-3: 0.188rem;
$btn-border-size-2: 0.175rem;
$btn-border-size-1: 0.125rem;

//Calendar
$calendar-cell-border: 0.15rem solid $color-primary-D4;
$calendar-cell-number-width: 3rem;
$calendar-cell-number-height: 3rem;
$calendar-cell-number-border-radius: math.div($calendar-cell-number-height, 2);
$calendar-cell-block-border-radius: 0.25rem;
$calendar-grid-padding: 0.25rem;

$calendar-header-border-bottom: 0.063rem solid $color-neutral-M2;
$calendar-header-grid-padding: 0.125rem;
$calendar-title-padding: 0.438rem 1rem;



//Checkbox
$checkbox-border-size: 0.125rem;
$checkbox-border-radius: 0.25rem; 

//Chips
$chip-border-size: 0.063rem;

$chip-border-radius-md: 1rem;
$chip-border-radius-sm: 0.5rem;

$chip-height-md: 2rem;
$chip-height-sm: 1.5rem;

//Dialog
$dialog-border: 0.5rem;

//Input - Dropdown
$inputdropdown-height-lg: 3rem;
$inputdropdown-height-md: 2.75rem;
$inputdropdown-height-sm: 2.5rem;

$inputdropdown-border-size-2: 0.188rem;
$inputdropdown-border-size-1: 0.125rem;

$inputdropdown-overlayshadow: $shade1;

$inputdropdown-border-radius: 0.25rem;
$inputdropdown-item-padding: 0 1rem;


$inputdropdown-item-lg: 3rem;
$inputdropdown-item-md: 2.75rem;
$inputdropdown-item-sm: 2.5rem;

//Input - Inputtext
$inputtext-padding-lg: 0.813rem 1rem;
$inputtext-padding-md: 0.688rem 0.875rem;
$inputtext-padding-sm: 0.563rem 0.75rem;

$inputtext-border-size-2: 0.188rem;
$inputtext-border-size-1: 0.125rem;

$inputtext-border-radius: 0.25rem;

$inputtext-height-lg: 3rem;
$inputtext-height-md: 2.75rem;
$inputtext-height-sm: 2.5rem;

//Input switch
$inputswitch-height-lg: 1.75rem;
$inputswitch-height-sm: 1.5rem;

$inputswitch-width-lg: 3.25rem;
$inputswitch-width-sm: 2.875rem;

$inputswitch-handle-size-lg: 1.375rem;
$inputswitch-handle-size-sm: 1.188rem;
$inputswitch-handle-border-radius-lg: math.div($inputswitch-handle-size-lg, 2);
$inputswitch-handle-border-radius-sm: math.div($inputswitch-handle-size-sm, 2);

$inputswitch-border-radius-lg: math.div($inputswitch-height-lg, 2);
$inputswitch-border-radius-sm: math.div($inputswitch-height-sm, 2);

//Mega menu
$megamenu-item-padding: 1.5rem;

//Menu
$menu-border-size-1: 0.05rem;
$menu-border-size-2: 0.188rem;
$menu-border-radius-1: 0.25rem;
$menu-border-radius-2: 0.5rem;
$menu-divider: 0.063rem solid $color-neutral-D2;

$menu-item-padding-lg: 0.875rem 1rem;
$menu-item-padding-md: 0.75rem 1rem;
$menu-item-padding-sm: 0.625rem 1rem;

$menu-icon-margin: 0.5rem;

$menu-width-max: 18rem;
$menu-width-min: 16rem;

//Nav bar
$navbar-left-width: 25rem;
$navbar-left-padding: 1rem;
$navbar-link-margin: 1rem 2.5rem;

//Table
$table-cell-padding: 1rem 0.875rem 0.75rem;

$table-header-height-lg: 3.5rem;
$table-header-height-md: 3rem;
$table-header-height-sm: 2.5rem;


$table-cell-height-lg: 3.5rem;
$table-cell-height-md: 3rem;
$table-cell-height-sm: 2.5rem;

$table-header-border-size: 0.031rem;
$table-cell-border-size: 0.031rem;

$table-cell-alignment-text: left;
$table-cell-alignment-number: right;
$table-cell-alignment-endcolumn: right;

$table-cell-icon-margin: 0.5rem;
$table-cell-icon-font-size: 1.125rem;
$table-cell-icon-container-size: 1.125rem;

//Tags
$tag-height-md: 2rem;
$tag-height-sm: 1.5rem;

$tag-border-radius-md: 1rem;
$tag-border-radius-sm: 0.75rem;

//Scroll bar
$scrollbar-width: 0.25rem;