.p-column-filter-row {
    .p-column-filter-menu-button,
    .p-column-filter-clear-button {
        margin-left: $inlineSpacing;
    }
}

.p-column-filter-menu-button {
    width: $table-cell-icon-container-size;
    height: $table-cell-icon-container-size;
    color: $color-neutral-M4;
    // border: $actionIconBorder;
    // background: $actionIconBg;
    // border-radius: $actionIconBorderRadius;
    transition: $actionIconTransition;

    &:hover {
        color: $color-primary-D5;
        // border-color: $actionIconHoverBorderColor;
        // background: $actionIconHoverBg;
    }

    &.p-column-filter-menu-button-open,
    &.p-column-filter-menu-button-open:hover {
        // background: $actionIconHoverBg;
        color: $color-primary-6;
    }

    &.p-column-filter-menu-button-active,
    &.p-column-filter-menu-button-active:hover {
        // background: $highlightBg;
        color: $color-primary-6
    }

    &:focus {
        // @include focused();
        color: $color-primary-D5;
    }

}

.p-column-filter-clear-button {
    width: $actionIconWidth;
    height: $actionIconHeight;
    color: $actionIconColor;
    border: $actionIconBorder;
    background: $actionIconBg;
    border-radius: $actionIconBorderRadius;
    transition: $actionIconTransition;

    &:hover {
        color: $actionIconHoverColor;
        border-color: $actionIconHoverBorderColor;
        background: $actionIconHoverBg;
    }

    &:focus {
        @include focused();
    }
}

.p-column-filter-overlay {
    background: $color-neutral-L6;
    // color: $inputListTextColor;
    // border: $inputOverlayBorder;
    border-radius: $menu-border-radius-1;
    box-shadow: $shade1;
    min-width: $menu-width-min;

    .p-column-filter-row-items {
        padding: $inputListPadding;

        .p-column-filter-row-item {
            margin: $inputListItemMargin;
            padding: $inputListItemPadding;
            border: $inputListItemBorder;
            color: $inputListItemTextColor;
            background: $inputListItemBg;
            transition: $listItemTransition;
            border-radius: $inputListItemBorderRadius;

            &.p-highlight {
                color: $highlightTextColor;
                background: $highlightBg;
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                color: $inputListItemTextHoverColor;
                background: $inputListItemHoverBg;
            }

            &:focus {
                @include focused-listitem();
            }
        }

        .p-column-filter-separator {
            border-top: $divider;
            margin: $menuSeparatorMargin;
        }
    }
}

.p-column-filter-overlay-menu {
    .p-column-filter-operator {
        padding: 1rem;
        // border-bottom: $inputListHeaderBorder;
        // color: $inputListHeaderTextColor;
        background: $color-neutral-L6;
        margin: $inputListHeaderMargin;
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
    }

    .p-column-filter-constraint {
        padding: 1rem;
        border-bottom: $menu-border-size-1 solid $color-neutral-M1;

        .p-column-filter-matchmode-dropdown {
            margin-bottom: 1rem;
        }

        .p-column-filter-remove-button {
            margin-top: 1rem;
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }

    .p-column-filter-add-rule {
        padding: $panelFooterPadding;
    }

    .p-column-filter-buttonbar {
        padding: $panelContentPadding;
    } 
}