@use 'sass:math';

.p-chip {
    background-color: $color-neutral-M1;
    color: $color-neutral-D6;
    border-radius: $chip-border-radius-md;
    // padding: 0 nth($inputPadding, 2);
    padding: 0 0.5rem 0 1rem;
    height: $chip-height-md;

    .p-chip-text {
        font-weight: $fw-body1;
        font-size: $fs-body1;
        line-height: $lh-body1;
        letter-spacing: $ls-body1;
        // line-height: 1.5;
        // margin-top: math.div(nth($inputPadding, 1), 2);
        // margin-bottom: math.div(nth($inputPadding, 1), 2);
    }

    .p-chip-icon {
        margin-right: 0.5rem;
    }

    .pi-chip-remove-icon {
        margin-left: 0.5rem;
    }

    // img {
    //     width: 1.5 + nth($inputPadding, 1);
    //     height: 1.5 + nth($inputPadding, 1);
    //     margin-left: -1 * nth($inputPadding, 2);
    //     margin-right: $inlineSpacing;
    // }

    .pi-chip-remove-icon {
        font-size: $fs-t1;
        line-height: inherit;
        border-radius: 1rem; 
        // transition: $actionIconTransition;
        width: fit-content;

        // &:focus {
        //     @include focused();
        // }
    }

    // Add disabled state
    &:disabled {
        background-color: $color-neutral-M2;
        color: $color-neutral-M5;
    }
}