.p-tieredmenu {
    padding: 0.5rem 0.25rem;
    background: $color-neutral-L6;
    color: $color-neutral-D6;
    border: $menu-border-size-1 solid $color-neutral-D2;
    border-radius: $menu-border-radius-1;
    width: 13.5rem;

    .p-menuitem-link {
        border-radius: $menu-border-radius-1;
        @include menuitem-link();
    }

    &.p-tieredmenu-overlay {
        background: $color-neutral-L6;
        border: 0.25rem;
        box-shadow: $shade1;
    }

    .p-submenu-list {
        padding: 0.25rem;
        background: $color-neutral-L6;
        border: $menu-border-size-1 solid $color-neutral-D2;;
        box-shadow: $shade1;
    }

    .p-menuitem {
        margin: 0.25rem;
    
        // &:last-child {
        //     margin-bottom: 0;
        // }

        &.p-menuitem-active {
            > .p-menuitem-link {
                background: $color-primary-2;

                .p-menuitem-text {
                    color: $color-primary-D5;
                }

                .p-menuitem-icon, .p-submenu-icon {
                    color: $color-primary-D5;
                }
            }
        }
    }

    .p-menu-separator {
        border-top: $divider;
        margin: 0.25;
    }

    .p-submenu-icon {
        font-size: $color-neutral-D6;
    }

    .p-menuitem-badge {
        @include menuitem-badge();
    }
}
