<div class="dashboard-banking">
    <div class="p-grid overview-boxes">
        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-transfer.png" alt="avalon-layout" width="52" class="icon-transfer" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">Make</span>
                    <span class="overview-subtitle">Swift Transfer</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-creditcards.png" alt="avalon-layout" width="52" class="icon-creditcards" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">Pay</span>
                    <span class="overview-subtitle">Credit Cards</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-cardtransfer.png" alt="avalon-layout" width="52" class="icon-cardtransfer" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">Make</span>
                    <span class="overview-subtitle">Card Transfer</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-receivemoney.png" alt="avalon-layout" width="52" class="icon-receivemoney" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">Receive</span>
                    <span class="overview-subtitle">Money</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-transactions.png" alt="avalon-layout" width="52" class="icon-transactions" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">See</span>
                    <span class="overview-subtitle">Transactions</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4 p-lg-2">
            <div class="overview clearfix">
                <div class="overview-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-ticket.png" alt="avalon-layout" width="52" class="icon-ticket" />
                </div>

                <div class="overview-text">
                    <span class="overview-title">Open</span>
                    <span class="overview-subtitle">Ticket</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid currency-panel">
        <div class="p-col-12 p-md-6 p-lg-3 clearfix">
            <div class="dashboard-currency">
                <div class="dashboard-currency-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-dollar.png" alt="avalon-layout" width="30" class="icon-dollar" />
                </div>

                <div class="dashboard-currency-label">
                    <div class="dashboard-currency-title">USD</div>
                    <div class="dashboard-currency-subtitle">US Dollar</div>
                </div>

                <div class="dashboard-currency-rates">
                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Latest</span>
                        <span class="currency-rate-value">3,5232</span>
                    </div>

                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Change</span>
                        <span class="currency-rate-value">-0.85</span>
                    </div>
                </div>
            </div>
        </div>

        <div class=" p-col-12 p-md-6 p-lg-3 clearfix">
            <div class="dashboard-currency">
                <div class="dashboard-currency-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-euro.png" alt="avalon-layout" width="30" class="icon-euro" />
                </div>

                <div class="dashboard-currency-label">
                    <div class="dashboard-currency-title">EUR</div>
                    <div class="dashboard-currency-subtitle">Euro</div>
                </div>

                <div class="dashboard-currency-rates">
                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Latest</span>
                        <span class="currency-rate-value">4,1246</span>
                    </div>

                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Change</span>
                        <span class="currency-rate-value">-0.16</span>
                    </div>
                </div>
            </div>
        </div>

        <div class=" p-col-12 p-md-6 p-lg-3 clearfix">
            <div class="dashboard-currency">
                <div class="dashboard-currency-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-gbp.png" alt="avalon-layout" width="30" class="icon-gbp" />
                </div>

                <div class="dashboard-currency-label">
                    <div class="dashboard-currency-title">GBP</div>
                    <div class="dashboard-currency-subtitle">Pound</div>
                </div>

                <div class="dashboard-currency-rates">
                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Latest</span>
                        <span class="currency-rate-value">4,6300</span>
                    </div>

                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Change</span>
                        <span class="currency-rate-value">-0.25</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3 clearfix">
            <div class="dashboard-currency">
                <div class="dashboard-currency-icon">
                    <img src="assets/layout/images/dashboard-banking/icon-gold.png" alt="avalon-layout" width="30" class="icon-gold" />
                </div>

                <div class="dashboard-currency-label">
                    <div class="dashboard-currency-title currency-gold">GOLD</div>
                </div>

                <div class="dashboard-currency-rates">
                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Latest</span>
                        <span class="currency-rate-value">143,059</span>
                    </div>

                    <div class="dashboard-currency-rate">
                        <span class="currency-rate-title">Change</span>
                        <span class="currency-rate-value">-0.85</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid financial-overview">
        <div class="p-col-12 p-md-12 p-lg-4 ">
            <div class="card">
                <h5>Accounts</h5>
                <div class="financial-overview-total">
                    <span class="financial-overview-total-label">Grand Total</span>
                    <span class="financial-overview-total-value">624,504.00</span>

                    <div class="clearfix"></div>
                </div>

                <div class="panel-inner">
                    <div class="financial-overview-line">
                        <div class="line-left">
                                    <span class="line-icon">
                                        <i class="pi pi-money-bill"></i>
                                    </span>
                            <span class="line-label">Bank Accounts</span>
                        </div>

                        <div class="line-right">
                            <span class="line-value">$320,521.25</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-briefcase"></i>
                            </span>
                            <span class="line-label">Savings</span>
                        </div>

                        <div class="line-right pull-right ">
                            <span class="line-value">$94,305.00</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-globe"></i>
                            </span>
                            <span class="line-label">Stocks</span>
                        </div>

                        <div class="line-right pull-right ">
                            <span class="line-value">$5,000.00</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-dollar"></i>
                            </span>
                            <span class="line-label">Profit</span>
                        </div>

                        <div class="line-right pull-right ">
                            <span class="line-value">$21.25</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-4 ">
            <div class="card">
                <h5>Debts</h5>
                <div class="financial-overview-total">
                    <span class="financial-overview-total-label">Grand Total</span>
                    <span class="financial-overview-total-value">125,330.00</span>

                    <div class="clearfix"></div>
                </div>

                <div class="panel-inner">
                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-briefcase"></i>
                            </span>
                            <span class="line-label">Used Credits</span>
                        </div>

                        <div class="line-right pull-right">
                            <span class="line-value">$100,240.00</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-calendar"></i>
                            </span>
                            <span class="line-label">Loans</span>
                        </div>

                        <div class="line-right pull-right ">
                            <span class="line-value">$25,090.00</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="financial-overview-line">
                        <div class="line-left pull-left">
                            <span class="line-icon">
                                <i class="pi pi-ticket"></i>
                            </span>
                            <span class="line-label">Overdrafts</span>
                        </div>

                        <div class="line-right pull-right ">
                            <span class="line-value">$0</span>
                            <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="card">
                <a href="#" class="thumbnail nopadding">
                    <img src="assets/layout/images/dashboard-banking/asset-japan.png" alt="avalon-layout" width="30" class="asset-japan " />
                </a>
                <div class="panel-inner no-padding-top">
                    <h3><strong>Journey to Japan</strong></h3>
                    <div class="progress">
                        <p-progressBar [value]="30" styleClass="pro"></p-progressBar>
                    </div>

                    <div class="progress-explaination">
                        <p><span style="color:#292b2c"><b>$3,000.00</b></span> from $10,000.00</p>
                    </div>

                    <div class="progress-buttons">
                        <p-button label="Deposit"></p-button>
                        <a href="#" class="pull-right button-link">Withdraw</a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="card expenses">
                <h5>Expenses</h5>
                <img src="assets/layout/images/dashboard-banking/chart-expenses.png" alt="avalon-layout" class="chart-expenses" />

                <div class="chart-details">
                    <div class="chart-label">
                        <i class="pi pi-circle-on shape1"></i>Segment 1</div>
                    <div class="chart-label-name">Advertisement</div>
                    <div class="chart-status status1">
                        <i class="pi pi-angle-up"></i>5% increased</div>

                    <div class="chart-label">
                        <i class="pi pi-circle-on shape2"></i>Segment 2</div>
                    <div class="chart-label-name">Bills</div>
                    <div class="chart-status status1">
                        <i class="pi pi-angle-up"></i>12% increased</div>

                    <div class="chart-label">
                        <i class="pi pi-circle-on shape3"></i>Segment 3</div>
                    <div class="chart-label-name">Salaries</div>
                    <div class="chart-status status2">
                        <i class="pi pi-angle-down"></i>3% decreased</div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class=" p-col-12 p-md-12 p-lg-8">
            <div class="card widget-messages">
                <h5>Messages</h5>

                <div class="p-flex-row">
                    <div class="message-box">

                        <!--1st message row-->

                        <div class="message">
                            <img src="assets/layout/images/dashboard-banking/profile.png" alt="avalon-layout" class="messager-img" />

                            <div class="messager">Joshua Williams
                                <i class="pi pi-circle-on online"></i>
                                <span class="date pull-right">Today</span>
                            </div>

                            <div class="message-text">Paenitet me quod tu me rogas? Oh, sic, qui stultus plastic continentis rogavi te ut emas. Vides non manducare acidum hydrofluoric per plastic. </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="message-box">

                        <!--2nd message row-->

                        <div class="message">
                            <img src="assets/layout/images/dashboard-banking/profile1.png" alt="avalon-layout" class="messager-img" />

                            <div class="messager">Adelle Charles
                                <i class="pi pi-circle-on offline"></i>
                                <span class="date pull-right">Today</span>
                            </div>

                            <div class="message-text">Quinquaginta septem est - pars tua, triginta quinque millia. Est autem extra plus quindecim, tota tua est, quom meruisset.</div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="message-box">

                        <!--3rd message row-->

                        <div class="message">
                            <img src="assets/layout/images/dashboard-banking/profile2.png" alt="avalon-layout" class="messager-img" />

                            <div class="messager">Marcos Moralez
                                <i class="pi pi-circle-on online"></i>
                                <span class="date pull-right">Yesterday</span>
                            </div>

                            <div class="message-text">Fac nos fecit. SIC.</div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="message-box">

                        <!--4th message row-->

                        <div class="message">
                            <img src="assets/layout/images/dashboard-banking/profile3.png" alt="avalon-layout" class="messager-img" />

                            <div class="messager">Matt Litherland
                                <i class="pi pi-circle-on online"></i>
                                <span class="date pull-right">3 days ago</span>
                            </div>

                            <div class="message-text">Puto quia una res potest - venimus in cognitionem. Vide pretium in manibus.</div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-6">
            <div class="card">
                <h5>Monthly Statistics</h5>

                <img src="assets/layout/images/dashboard-banking/asset-graph.png" alt="avalon-layout" class="asset-graph" />
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-6">
            <div class="card">
                <h5>Transactions</h5>

                <table style="width:100%">

                    <!--trans1-->

                    <tr class="transaction">
                        <td>
                            <img src="assets/layout/images/dashboard-banking/asset-visa.png" alt="avalon-layout" class="asset-visa" />
                        </td>

                        <td class="transaction-date-cont transaction-item ">
                            <span class="transaction-title">07 July 2017</span>
                            <span class="transaction-subtitle">16.21</span>
                        </td>

                        <td class="transaction-name transaction-item ">
                            <span class="transaction-title"><strong>Recharge Card</strong></span>
                            <span class="transaction-subtitle">Card *8076</span>
                        </td>

                        <td class="transaction-button transaction-item ">
                            <p-button label="See Details" styleClass="secondary-btn"></p-button>
                        </td>
                    </tr>

                    <!--trans2-->

                    <tr class="transaction">
                        <td class="transaction-img ">
                            <img src="assets/layout/images/dashboard-banking/asset-netflix.png" alt="avalon-layout" />
                        </td>

                        <td class="transaction-date-cont transaction-item">
                            <span class="transaction-title">06 July 2017</span>
                            <span class="transaction-subtitle">11.05</span>
                        </td>

                        <td class="transaction-name transaction-item ">
                            <span class="transaction-title"><strong>Online Payment</strong></span>
                            <span class="transaction-subtitle">Netflix</span>
                        </td>

                        <td class="transaction-button transaction-item ">
                            <p-button label="See Details" styleClass="secondary-btn"></p-button>
                        </td>
                    </tr>

                    <!--trans3-->

                    <tr class="transaction">
                        <td class="transaction-img ">
                            <img src="assets/layout/images/dashboard-banking/asset-spotify.png" alt="avalon-layout" />
                        </td>

                        <td class="transaction-date-cont transaction-item ">
                            <span class="transaction-title">05 July 2017</span>
                            <span class="transaction-subtitle">08.59</span>
                        </td>

                        <td class="transaction-name transaction-item ">
                            <span class="transaction-title"><strong>Online Payment</strong></span>
                            <span class="transaction-subtitle">Spotify</span>
                        </td>

                        <td class="transaction-button transaction-item ">
                            <p-button label="See Details" styleClass="secondary-btn"></p-button>
                        </td>
                    </tr>

                    <!--trans4-->

                    <tr class="transaction">
                        <td class="transaction-img ">
                            <img src="assets/layout/images/dashboard-banking/asset-newyorker.png" alt="avalon-layout" />
                        </td>

                        <td class="transaction-date-cont transaction-item ">
                            <span class="transaction-title">05 July 2017</span>
                            <span class="transaction-subtitle">14.49</span>
                        </td>

                        <td class="transaction-name transaction-item ">
                            <span class="transaction-title"><strong>Purchase</strong></span>
                            <span class="transaction-subtitle">The New Yorker</span>
                        </td>

                        <td class="transaction-button transaction-item ">
                            <p-button label="See Details" styleClass="secondary-btn"></p-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-8 ">
            <div class="card assets">
                <h5>Products</h5>

                <p-table [value]="products" [paginator]="true" [rows]="5" styleClass="p-datatable-customers">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Logo
                            </th>
                            <th pSortableColumn="name">Name
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">Category
                                <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Price
                                <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="view">View
                                <p-sortIcon field="view"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <span class="p-column-title">Image</span>
                                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="50px" />
                            </td>
                            <td>
                                <span class="p-column-title">Name</span>
                                {{product.name}}
                            </td>
                            <td>
                                <span class="p-column-title">Category</span>
                                {{product.category}}
                            </td>
                            <td>
                                <span class="p-column-title">Price</span>
                                {{product.price | currency:'USD'}}
                            </td>
                            <td>
                                <button pButton type="button" icon="pi pi-search" class="p-button-success p-mr-2 p-mb-1"></button>
                                <button pButton type="button" icon="pi pi-times" class="p-button-danger p-mb-1"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-lg-4 no-margin-top">
            <div class="card customer-support">
                <h5>Customer Support</h5>
                <div class="support-top">
                    <img src="assets/layout/images/dashboard-banking/icon-customersupport.png" alt="avalon-layout" class="pull-left" />

                    <div class="support-estimation">
                        <span class="est-title"><strong>Estimated Wait Time</strong></span>
                        <span class="est-time">21 minutes</span>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="p-fluid">
                    <div class="p-col-12">
                        <p-dropdown [options]="dropdownItem" [(ngModel)]="selectedDropdownItem"></p-dropdown>
                    </div>
                    <div class="p-col-12">
                        <input type="text" pInputText placeholder="Name">
                    </div>
                    <div class="p-col-12">
                        <input type="text" pInputText placeholder="Subject">
                    </div>
                    <div class="p-col-12">
                        <textarea type="text" pInputTextarea placeholder="Message" [autoResize]="false" [rows]="2"></textarea>
                    </div>
                    <div class="p-col-12 btn-padding">
                        <button type="button" pButton label="Send" icon="pi pi-check"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
