<div class="dashboard">
    <div class="ui-g overview-boxes">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-1">
                <div class="overview-box-title">
                    <i class="fa fa-inbox"></i>
                    <span>Unread Messages</span>
                </div>
                <div class="overview-box-count">150</div>
                <div class="overview-box-stats">12 less than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-2">
                <div class="overview-box-title">
                    <i class="fa fa-map-pin"></i>
                    <span>Check-ins</span>
                </div>
                <div class="overview-box-count">532</div>
                <div class="overview-box-stats">46 more than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-3">
                <div class="overview-box-title">
                    <i class="fa fa-folder"></i>
                    <span>Files</span>
                </div>
                <div class="overview-box-count">450</div>
                <div class="overview-box-stats">30 more than yesterday</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-4">
                <div class="overview-box-title">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                </div>
                <div class="overview-box-count">532</div>
                <div class="overview-box-stats">250 more than yesterday</div>
            </div>
        </div>
    </div>
</div>