.p-message {
    margin: 1rem;
    border-radius: 0.5rem;
    
    .p-message-wrapper {
        height: 3.5rem;
        padding: 1rem;
        gap: 0.5rem;
    }

    .p-message-close {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.25rem;
        background: transparent;
        transition: $actionIconTransition;

        &:hover {
            background: $color-neutral-L1;
        }
        
        //Add active state
        &:active {
            border: none !important;
            background: $color-neutral-L2;
        }
        
        &:focus {
            // @include focused();
            background: $color-neutral-L5;
            border: none;
        }
    }

    &.p-message-info {
        background: var(--blue-50);
        // border: $infoMessageBorder;
        // border-width: $messageBorderWidth;
        color: var(--blue-900);

        .p-message-icon {
            color: var(--blue-900);
        }

        .p-message-close {
            color: var(--blue-900);
        }
    }

    &.p-message-success {
        background: var(--green-50);
        // border: $successMessageBorder;
        // border-width: $messageBorderWidth;
        color: var(--green-900);
        
        .p-message-icon {
            color: var(--green-900);
        }

        .p-message-close {
            color: var(--blue-900);
        }
    }

    &.p-message-warn {
        background: var(--yellow-50);
        // border: $warningMessageBorder;
        // border-width: $messageBorderWidth;
        color: var(--yellow-900);
        
        .p-message-icon {
            color: var(--yellow-900);
        }
        
        .p-message-close {
            color: var(--yellow-900);
        }
    }

    &.p-message-error {
        background: var(--red-50);
        // border: $warningMessageBorder;
        // border-width: $messageBorderWidth;
        color: var(--red-900);
        
        .p-message-icon {
            color: var(--red-900);
        }
        
        .p-message-close {
            color: var(--red-900);
        }
    }

    // .p-message-text {
    //     font-size: $messageTextFontSize;
    //     font-weight: $messageTextFontWeight;
    // }

    .p-message-icon {
        font-size: 1.125rem;
        margin-right: 0.5rem;
    }

    .p-message-summary {
        font-weight: $fw-t2;
        font-size: $fs-t2;
        line-height: $lh-t2;
        letter-spacing: $ls-t2;
    }

    .p-message-detail {
        margin-left: 0.5rem;
        font-weight: $fw-body1;
        font-size: $fs-body1;
        line-height: $lh-body1;
        letter-spacing: $ls-body1;
    }
}
