p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
    @include invalid-input();
}

.p-datepicker {
    padding: 0.5rem;
    background: $color-neutral-L6;
    color: $color-neutral-D6;
    border: none;
    border-radius: 0.25rem;

    &:not(.p-datepicker-inline) {
        background: $color-neutral-L6;
        // border: $calendarOverlayBorder;
        border-radius: 0.5rem;
        box-shadow: $shade1;

        .p-datepicker-header {
            background: $color-neutral-L1;
        }
    }

    .p-datepicker-header {
        padding-bottom: 1rem;
        color: $color-neutral-D6;
        background: $color-neutral-D2;
        font-weight: $fw-subt2;
        font-size: $fs-subt2;
        line-height: $lh-subt2;
        letter-spacing: $ls-subt2;
        margin: 1rem;
        border-bottom: $calendar-header-border-bottom;
        // border-top-right-radius: $borderRadius;
        // border-top-left-radius: $borderRadius;

        .p-datepicker-prev,
        .p-datepicker-next {
            @include action-icon();

        }

        .p-datepicker-title {
            line-height: $lh-subt2;
            .p-datepicker-year,
            .p-datepicker-month {
                color: $color-neutral-D6;
                transition: $actionIconTransition;
                font-weight: $fw-subt2;
                font-size: $fs-subt2;
                letter-spacing: $ls-subt2;
                padding: $calendar-title-padding;
                border-radius: 0.25rem;

                &:hover {
                    color: $color-primary-6;
                }

                //Add focus and active state
                &:active {
                    color: $color-primary-7;
                }
                
                &:focus {
                    border-radius: 0;
                    border-bottom: $calendar-cell-border;
                }
            }

            .p-datepicker-month {
                margin-right: 0.5rem;
            }
        }
    }

    table {
        font-size: $fontSize;
        // margin: $calendarTableMargin;

        th {
            padding: 0.5rem;
            font-weight: $fw-caption;
            font-size: $fs-caption;
            line-height: $lh-caption;
            letter-spacing: $ls-caption;
            text-transform: capitalize;
            > span {
                width: $calendar-datecell-width;
                height: $calendar-datecell-height;
            }
        }

        td {
            padding: $calendar-grid-padding;

            > span {
                width: $calendar-datecell-width;
                height: $calendar-datecell-height;
                border-radius: $calendar-datecell-border-radius;
                transition: $listItemTransition;
                // border: $calendarCellDateBorder;

                &.p-highlight {
                    color: $color-neutral-L6 !important;
                    background: $color-primary-7 !important;
                    border: none !important;
                }
                
                &:focus {
                    // @include focused();
                    outline: $calendar-cell-border;
                }
            }

            &.p-datepicker-today {
                > span {
                    background: $color-primary-3;
                    color: $color-primary-D5;
                    // border-color: $calendarCellDateTodayBorderColor;

                    &.p-highlight {
                        color: $color-neutral-L6 !important;
                        background: $color-primary-7 !important;
                        border: 0.15rem solid $color-neutral-L6 !important;
                        outline: $calendar-cell-border !important;
                    }
                }
            }
        }
    }

    // .p-datepicker-buttonbar {
    //     padding: $calendarButtonBarPadding;
    //     border-top: $divider;

    //     .p-button {
    //         width: auto;
    //     }
    // }

    // .p-timepicker {
    //     border-top: $divider;
    //     padding: $calendarTimePickerPadding;

    //     button {
    //         @include action-icon();

    //         &:last-child {
    //             margin-top: .2em;
    //         }
    //     }

    //     span {
    //         font-size: $calendarTimePickerTimeFontSize;
    //     }

    //     > div {
    //         padding: $calendarTimePickerElementPadding;
    //     }
    // }

    // &.p-datepicker-timeonly {
    //     .p-timepicker {
    //         border-top: 0 none;
    //     }
    // }

    .p-monthpicker {
        margin: 1rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto; 
        column-gap: 3rem;
        row-gap: 0.5rem;

        .p-monthpicker-month {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            margin: 0;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            // padding: $calendarCellDatePadding;
            transition: $listItemTransition;
            border-radius: $calendar-datecell-border-radius;

            &.p-highlight {
                color: $color-neutral-L6 !important;
                background: $color-primary-7 !important;
                border: none !important;
            }
        }
    }

    .p-yearpicker {
        margin: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto; 
        column-gap: 4.5rem;
        row-gap: 0.5rem;

        .p-yearpicker-year {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            margin: 0;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            // padding: $calendarCellDatePadding;
            transition: $listItemTransition;
            border-radius: $calendar-datecell-border-radius;

            &.p-highlight {
                color: $color-neutral-L6 !important;
                background: $color-primary-7 !important;
                border: none !important;
            }
        }
    }

    &.p-datepicker-multiple-month {
        .p-datepicker-group {
            border-left: $divider;
            padding-right: $calendarPadding;
            padding-left: $calendarPadding;
            padding-top: 0;
            padding-bottom: 0;

            &:first-child {
                padding-left: 0;
                border-left: 0 none;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &:not(.p-disabled) {
        table {
            td {
                span:not(.p-highlight):not(.p-disabled) {
                    &:hover {                    
                        color: $color-primary-D6;
                        background: $color-primary-1;
                    }
    
                    //Add active sstate
                    &:active {                    
                        color: $color-primary-D6;
                        background: $color-primary-2;
                    }

                    &:focus {
                        // @include focused();
                        outline: $calendar-cell-border;
                        color: $color-primary-D5
                    }
                }
            }
        }

        .p-monthpicker {
            .p-monthpicker-month {
                &:not(.p-disabled) {
                    &:not(.p-highlight):hover {
                        background: $color-primary-1;
                    }

                    //Add active state
                    &:not(.p-highlight):active {
                        background-color: $color-primary-2;
                    }
                    
                    &:focus {
                        // @include focused();
                        outline: $calendar-cell-border;
                        color: $color-primary-D5
                    }
                }
            }
        }

        .p-yearpicker {
            .p-yearpicker-year {
                &:not(.p-disabled) {
                    &:not(.p-highlight):hover {
                        background: $color-primary-1;
                    }

                    //Add active state
                    &:not(.p-highlight):active {
                        background-color: $color-primary-2;
                    }

                    &:focus {
                        // @include focused();
                        outline: $calendar-cell-border;
                        color: $color-primary-D5;
                    }
                }
            }
        }
    }

}

p-calendar.p-calendar-clearable {
    .p-inputtext {
        padding-right: nth($inputtext-padding-lg, 2) * 2 + $primeIconFontSize;
    }
    
    .p-calendar-clear-icon {
        color: $color-neutral-D6;
        right: nth($inputtext-padding-lg, 2);
    }
}

p-calendar.p-calendar-clearable.p-calendar-w-btn {
    .p-calendar-clear-icon {
        color: $color-neutral-D6;
        right: $buttonIconOnlyWidth + nth($inputtext-padding-lg, 2);
    }
}

@media screen and (max-width: $calendarBreakpoint) {
    .p-datepicker {
        table {
            th, td {
                padding: $calendarCellDatePaddingSM;
            }
        }
    }
}
