.p-checkbox {
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;

    .p-checkbox-box {
        // border: $checkbox-border-size;
        background: $color-neutral-L6;
        width: 1.25rem;
        height: 1.25rem;
        color: $color-primary-D6;
        border-radius: 0.25rem;
        transition: $formElementTransition;

        .p-checkbox-icon {
            transition-duration: $transitionDuration;
            color: $color-neutral-L6;
            font-size: 0.8rem;
        }

        &.p-highlight {
            background: $color-primary-5;
        }
    }

    &:not(.p-checkbox-disabled) {
        .p-checkbox-box {
            &:hover {
                // border-color: $inputHoverBorderColor;
                background-color: $color-primary-2;
            }
            
            &.p-focus {
                // @include focused-input();
                outline: $checkbox-border-size solid $color-primary-2;
                background-color: $color-primary-2;
            }

            &.p-highlight:hover {    
                background: $color-primary-6;
            }

            //Add focus state
            &.p-highlight:focus {    
                outline: $checkbox-border-size solid $color-primary-D3;
            }
        }
    }
}

p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
    @include invalid-input();
}

.p-input-filled {
    .p-checkbox {
        .p-checkbox-box {
            background-color: $color-neutral-L6;
            border: $checkbox-border-size solid $color-neutral-M3;
            
            &.p-highlight {
                background-color: $color-primary-5;
                border: none;
            }
        }
        
        &:not(.p-checkbox-disabled) {
            .p-checkbox-box {
                &:hover {
                    background-color: $color-primary-2;
                }
                
                &.p-highlight:hover {    
                    background: $color-primary-6;
                }
                
                //Add focus state
                &.p-highlight:focus {    
                    outline: $checkbox-border-size solid $color-primary-D3;
                }
            }
        }
    }
}

.p-checkbox-label {
    margin-left: 0.5rem;
}

// @if ($highlightBg == $checkboxActiveBg) {
//     .p-highlight {
//         .p-checkbox {
//             .p-checkbox-box {
//                 border-color: $checkboxIconActiveColor;
//             }
//         }
//     }
// } 
