.p-dropdown {
    background: $color-neutral-M1 !important;
    // border: $inputBorder;
    transition: $formElementTransition;
    border-radius: $inputdropdown-border-radius;
    height: $inputdropdown-height-lg;

    &:not(.p-disabled):hover {
        outline: $inputdropdown-border-size-1 solid $color-primary-D3;
    }
    
    &:not(.p-disabled).p-focus {
        // @include focused-input();
        outline: $inputdropdown-border-size-2 solid $color-primary-D5;
    }

    &.p-dropdown-clearable {
        .p-dropdown-label {
            // padding-right: nth($inputPadding, 2) + $primeIconFontSize;
            padding-right: 2.5rem + $primeIconFontSize;
        }
    }

    .p-dropdown-label {
        background: transparent;
        border: none;

        &.p-placeholder {
            color: $color-neutral-D4;
        }

        &:enabled:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    
    
    .p-dropdown-trigger {
        background: transparent;
        color: $color-neutral-D4;
        // width: $inputGroupAddOnMinWidth;
        width: 1.5rem;
        font-size: 1rem;
        margin-right: 1rem;
        border-radius: $inputdropdown-border-radius;
        // border-top-right-radius: $borderRadius;
        // border-bottom-right-radius: $borderRadius;
    }

    .p-dropdown-clear-icon {
        color: $color-neutral-D6;
        font-size: 0.8rem;

        //Overrides the dumb and stupid former alignment that set the margin-top: -0.5rem for no reason
        top: 50% ;
        transform: translateY(-50%);
        margin-top: 0;
        // right: $inputGroupAddOnMinWidth;
        right: 3rem;
    }
    
    .p-dropdown-panel {
        top: $inputdropdown-height-lg + 0.5rem !important;
    }
}

.p-dropdown-panel {
    background: $color-neutral-L6;
    color: $color-neutral-D6;
    // border: $inputOverlayBorder;
    border-radius: $inputdropdown-border-radius;
    box-shadow: $shade1;

    .p-dropdown-header {
        padding: $inputListHeaderPadding;
        border-bottom: $inputListHeaderBorder;
        color: $inputListHeaderTextColor;
        background: $inputOverlayHeaderBg;
        margin: $inputListHeaderMargin;
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;

        .p-dropdown-filter {
            padding-right: nth($inputPadding, 2) + $primeIconFontSize;
            margin-right: -1 * (nth($inputPadding, 2) + $primeIconFontSize);
        }

        .p-dropdown-filter-icon {
            right: nth($inputPadding, 2);
            color: $inputIconColor;
        }
    }

    .p-dropdown-items {
        padding: nth($inputdropdown-items-padding-lg, 2);

        .p-dropdown-item {
            margin: 0.25rem;
            height: $inputdropdown-height-lg;
            padding: nth($inputdropdown-item-padding, 2);
            // border: $inputListItemBorder;
            color: $color-neutral-D6;
            background: $color-neutral-L6;
            transition: $listItemTransition;
            border-radius: $inputdropdown-border-radius;

            &.p-highlight {
                color: $color-primary-D6;
                background: $color-primary-2;
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                // color: $inputListItemTextHoverColor;
                background: $color-neutral-M1;
            }
        }

        .p-dropdown-empty-message {
            padding: $inputListItemPadding;
            color: $inputListItemTextColor;
            background: $inputListItemBg;
        }

        .p-dropdown-item-group {
            margin: $submenuHeaderMargin;
            padding: $submenuHeaderPadding;
            color: $submenuHeaderTextColor;
            background: $submenuHeaderBg;
            font-weight: $submenuHeaderFontWeight;
        }
    }
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
    @include invalid-input();
}

.p-input-filled {
    .p-dropdown {
        background: $color-neutral-L6 !important;

        &:not(.p-disabled):hover {
            outline: $inputdropdown-border-size-1 solid $color-primary-D3;
        }
        
        &:not(.p-disabled).p-focus {
            // background-color: $inputFilledFocusBg;
            outline: $inputdropdown-border-size-2 solid $color-primary-D5;

            .p-inputtext {
                background-color: transparent;
            }
        }
    }
}
