$topbarLeftGradientStartBgColor:#0d6efd;
$topbarLeftGradientEndBgColor:#0d6efd;
$topbarRightGradientStartBgColor:#0d6efd;
$topbarRightGradientEndBgColor:#0d6efd;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#0d6efd;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#0d6efd;
$badgeBgColor:#ffc107;
$badgeColor:#20262e;
$darkMenuGradientStartBgColor:#2a323d;
$darkMenuGradientEndBgColor:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#6ea8fe;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
