$topbarLeftBg:#0dcaf0;
$topbarRightBg:#0dcaf0;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#0aa2c0;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#0dcaf0;
$badgeBgColor:#dc3545;
$badgeColor:#ffffff;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#6edff6;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
