$topbarLeftGradientStartBgColor:#4DB865;
$topbarLeftGradientEndBgColor:#61CC79;
$topbarRightGradientStartBgColor:#61CC79;
$topbarRightGradientEndBgColor:#80D293;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#3EA655;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#61CC79;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#2a323d;
$darkMenuGradientEndBgColor:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#80D293;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
