$topbarLeftBg:#198754;
$topbarRightBg:#198754;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#198754;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#198754;
$badgeBgColor:#ffc107;
$badgeColor:#20262e;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#75b798;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
