$topbarLeftBg:#198754;
$topbarRightBg:#198754;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:transparent;
$menuitemHoverTextColor:#198754;
$menuitemActiveColor:#198754;
$menuitemActiveBgColor:transparent;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#198754;
$badgeBgColor:#ffc107;
$badgeColor:#20262e;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:transparent;
$darkMenuHoverTextColor:#75b798;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#75b798;
$darkMenuMenuitemActiveBgColor:transparent;

@import '../../sass/layout/_layout';
