$topbarLeftBg:#0d6efd;
$topbarRightBg:#0d6efd;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:transparent;
$menuitemHoverTextColor:#0d6efd;
$menuitemActiveColor:#0d6efd;
$menuitemActiveBgColor:transparent;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#0d6efd;
$badgeBgColor:#ffc107;
$badgeColor:#20262e;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:transparent;
$darkMenuHoverTextColor:#6ea8fe;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#6ea8fe;
$darkMenuMenuitemActiveBgColor:transparent;

@import '../../sass/layout/_layout';
