$topbarLeftBg:#fd7e14;
$topbarRightBg:#fd7e14;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:transparent;
$menuitemHoverTextColor:#fd7e14;
$menuitemActiveColor: #fd7e14;
$menuitemActiveBgColor:transparent;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#fd7e14;
$badgeBgColor:#198754;
$badgeColor:#ffffff;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:transparent;
$darkMenuHoverTextColor:#feb272;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#feb272;
$darkMenuMenuitemActiveBgColor:transparent;

@import '../../sass/layout/_layout';
