$topbarLeftBg:#6f42c1;
$topbarRightBg:#6f42c1;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:transparent;
$menuitemHoverTextColor:#6f42c1;
$menuitemActiveColor:#6f42c1;
$menuitemActiveBgColor:transparent;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#6f42c1;
$badgeBgColor:#198754;
$badgeColor:#ffffff;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:transparent;
$darkMenuHoverTextColor:#a98eda;
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#a98eda;
$darkMenuMenuitemActiveBgColor:transparent;

@import '../../sass/layout/_layout';
