$topbarLeftBg:#ffc107;
$topbarRightBg:#ffc107;
$topbarTextColor:#ffffff;
$menuBg:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #997404;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#ffc107;
$badgeBgColor:#dc3545;
$badgeColor:#ffffff;
$darkMenuBg:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#ffda6a;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
