$topbarLeftGradientStartBgColor:#904100;
$topbarLeftGradientEndBgColor:#CB5C00;
$topbarRightGradientStartBgColor:#904100;
$topbarRightGradientEndBgColor:#CB5C00;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #FD7E14;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#904100;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#2a323d;
$darkMenuGradientEndBgColor:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#FEBE89;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
