$topbarLeftGradientStartBgColor:#7A5E06;
$topbarLeftGradientEndBgColor:#C5980F;
$topbarRightGradientStartBgColor:#7A5E06;
$topbarRightGradientEndBgColor:#C5980F;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #F8BD0C;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#7A5E06;
$badgeBgColor:#dc3545;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#2a323d;
$darkMenuGradientEndBgColor:#2a323d;
$darkMenuHoverBgColor:rgba(255,255,255,0.06);
$darkMenuRootMenuitemColor: rgba(255, 255, 255, 0.65);
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#FBDE85;
$darkMenuMenuitemActiveBgColor:#20262e;

@import '../../sass/layout/_layout';
